target
*.iws
*.ipr
*.iml
.idea
.classpath
.project
.settings
hs_err_*.log

src/test/resources/foo.json

src/test/resources/freeformatter-out.json

machines/machine3/log

machines/machine1/log

machines/machine2/log

machines/machine2/snapshot/1_20006.ss

machines/machine3/snapshot/1_20006.ss

machines/machine1/snapshot/1_20006.ss

machines/machine1/snapshot/29_27920.ss

machines/machine1/conf

machines/machine2/conf

machines/machine2/snapshot/29_30445.ss

machines/machine3/conf

machines/machine3/snapshot/29_30007.ss

.gradle

*.class

*.jar
!gradle-wrapper.jar

build/
